<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiEndpoint" value="https://ws.ovh.com/dedicated/r2/ws.dispatcher/getAvailability2" />
        <add key="ApiTimeout" value="10" />
        <add key="CheckPeriod" value="10" />
        <add key="ServerSku" value="150sk30" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
