<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogFile="Logs\NLog.log"
      internalLogLevel="Off"
      throwExceptions="false">
    <targets>
        <target xsi:type="SplitGroup" name="application">
            <target xsi:type="Console" encoding="utf-8" layout="${longdate} ${level:uppercase=true} ${message}" />
            <target xsi:type="File" archiveOldFileOnStartup="true" archiveNumbering="Sequence" enableArchiveFileCompression="true" encoding="utf-8" fileName="Logs\Application.log" keepFileOpen="true" layout="${longdate} ${level:uppercase=true} ${message}" />
        </target>
        <target xsi:type="File" archiveOldFileOnStartup="true" archiveNumbering="Sequence" enableArchiveFileCompression="true" encoding="utf-8" fileName="Logs\Exceptions.log" keepFileOpen="true" layout="${message}${newline}" name="exceptions" />
    </targets>
    <rules>
        <logger name="application" writeTo="application" />
        <logger name="exceptions" writeTo="exceptions" />
    </rules>
</nlog>
