<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="Twilio" version="4.4.1" targetFramework="net461" />
</packages>